### --- Hệ điều hành (OS) ---
Thumbs.db
db.properties
Desktop.ini
.DS_Store

### --- Build Tool (Maven) ---
target/
!.mvn/wrapper/maven-wrapper.jar

# Ignore folder cấu hình local của VS Code
.vscode/
.history/
*.code-workspace

### --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr

### --- Các file Log & Môi trường ẩn ---
*postman/
*.log
.env
.env.local
MD/

### --- Bảo mật thông tin cấu hình ---
src/main/resources/application.properties
src/main/resources/application.yaml